@charset "UTF-8";
.area__footer {
  position: relative;
  height: 20vh;
}
.area__footer .footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #BBE5ED;
}
.area__footer .footer small {
  margin-bottom: 1%;
}

.header {
  width: 100vw;
  height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0c0fcf;
  position: fixed;
  z-index: 100;
}
.header .header__inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}
.header .header__inner .logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-right: 10%;
}
.header .header__inner .index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  list-style: none;
  padding-left: 0;
}
.header .header__inner .index li {
  width: 25%;
  font-size: 150%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #111;
}
body h2 {
  color: #111;
}

.container {
  height: 100%;
  width: 100%;
}
.container #area {
  height: 100vh;
  width: 100%;
  /*Scrollテキストの描写*/
  /* 線の描写 */
  /*高さ・位置・透過が変化して線が上から下に動く*/
}
.container #area .top-image {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(".././Images/top_bg.webp");
  background-size: cover;
  background-position: center;
}
.container #area .top-image .logoAndbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-top: 2%;
}
.container #area .top-image .logoAndbar .logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5%;
}
.container #area .top-image .logoAndbar .logo img {
  width: 160px;
  height: 35%;
}
.container #area .top-image .logoAndbar .bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container #area .top-image .logoAndbar .bar .menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 101;
}
.container #area .top-image .logoAndbar .bar .menu-bar p {
  text-align: center;
  height: 50px;
  width: 180px;
  padding-top: 7%;
  border-radius: 100vh;
  background-color: #BBE5ED;
}
.container #area .top-image .logoAndbar .bar .menu-bar p:hover {
  background-color: #77a2aa;
}
.container #area .top-image .logoAndbar .bar .menu-bar span {
  display: none;
  text-align: center;
  height: 50px;
  width: 180px;
  padding-top: 7%;
  border-radius: 100vh;
  background-color: #BBE5ED;
}
.container #area .top-image .logoAndbar .bar .menu-bar span:hover {
  background-color: #77a2aa;
}
.container #area .top-image .logoAndbar .bar #menu-bar-check:checked ~ .menu-bar p {
  display: none;
}
.container #area .top-image .logoAndbar .bar #menu-bar-check:checked ~ .menu-bar span {
  display: inline-block;
}
.container #area .top-image .logoAndbar .bar #menu-bar-check {
  display: none;
}
.container #area .top-image .logoAndbar .bar #menu-bar-check:checked ~ .forum {
  -webkit-animation: forum_01 1s forwards;
          animation: forum_01 1s forwards;
}
@-webkit-keyframes forum_01 {
  to {
    transform: translateY(100%);
  }
}
@keyframes forum_01 {
  to {
    transform: translateY(100%);
  }
}
.container #area .top-image .logoAndbar .forum {
  position: fixed;
  z-index: 100;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #C4BBED;
}
.container #area .top-image__box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.container #area .top-image__box #typewriter::after {
  content: "|";
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container #area .top-image__box span {
  font-family: "Noto Serif", serif;
  margin-right: 3%;
  font-size: 250%;
  color: white;
}
@media screen and (max-width : 480px) {
  .container #area .top-image__box span {
    margin-left: 5%;
  }
}
.container #area .top-image__catchcopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}
@media screen and (max-width : 480px) {
  .container #area .top-image__catchcopy {
    margin-top: 20%;
  }
}
.container #area .top-image__catchcopy p {
  color: #333333;
}
.container #area .top-image__catchcopy .jpn {
  font-family: "Noto Serif", serif;
  font-size: 250%;
  font-weight: bold;
}
@media screen and (max-width : 480px) {
  .container #area .top-image__catchcopy .jpn {
    font-size: 150%;
  }
}
.container #area .top-image__catchcopy .eng {
  font-family: "Noto Serif", serif;
  font-size: 150%;
}
@media screen and (max-width : 480px) {
  .container #area .top-image__catchcopy .eng {
    font-size: 125%;
  }
}
.container #area .top-image__catchcopy img {
  width: 25%;
  height: 15%;
  margin-bottom: 3%;
}
@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    transform: translate(0, -50px);
    opacity: 1;
  }
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    transform: translate(0, -50px);
    opacity: 1;
  }
}
.container #area .scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: -10%;
  /*全体の高さ*/
  height: 30%;
}
.container #area .scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #545454;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}
.container #area .scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 10px;
  right: -20px;
  /*線の形状*/
  width: 2px;
  height: 30px;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
@-webkit-keyframes pathmove {
  0% {
    top: 10px;
    height: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
    background: #CFA6FD;
  }
  70% {
    height: 50px;
    background: #FDB2E6;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    top: 10px;
    height: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
    background: #CFA6FD;
  }
  70% {
    height: 50px;
    background: #FDB2E6;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}
.container #area__main {
  height: 100%;
  width: 100%;
  background-image: url("./../Images/main_bg.png");
  background-size: cover;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #area__main .main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #area__main .main-content__about {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #D9C0B3;
  padding: 5%;
  margin: 2em 0;
  margin-top: 1%;
  border: solid 5px #E5ACF2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.container #area__main .main-content__about #me {
  font-size: 125%;
  margin-top: 2%;
}
.container #area__main .main-content__about h2 {
  font-size: 250%;
}
.container #area__main .main-content__about .about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container #area__main .main-content__about .about-box p {
  margin-top: 10px;
}
.container #area__main .main-content__threepoint {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity, transform;
}
.container #area__main .main-content__threepoint .three-top {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}
@media screen and (max-width : 1024px) {
  .container #area__main .main-content__threepoint .three-top {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.container #area__main .main-content__threepoint .three-top .box {
  width: 30%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9C0B3;
  border-top: solid 10px #E5ACF2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
@media screen and (max-width : 1024px) {
  .container #area__main .main-content__threepoint .three-top .box {
    margin-top: 5%;
    width: 90%;
  }
}
.container #area__main .main-content__threepoint .three-top .box p {
  width: 80%;
}
.container #area__main .main-content__threepoint .three-top .three-right {
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width : 480px) {
  .container #area__main .main-content__threepoint .three-top .three-right {
    padding: 10%;
  }
}
.container #area__main .main-content__threepoint .three-top .is-scrollIn {
  opacity: 1;
  transform: translate(0, -50px);
}
.container #area__main .main-content .is-scrollIn {
  opacity: 1;
  transform: translate(0, -50px);
}
.container #area__main .main-content .fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}
.container .h2-top {
  margin-top: 5%;
}
.container .h2-top .main-h2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 26px;
  text-align: center;
}
.container .h2-top .main-h2 span {
  position: relative;
  z-index: 2;
}
.container .h2-top .main-h2:before {
  content: attr(data-en);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(2, 238, 255, 0.2);
  font-size: 80px;
  font-style: italic;
}
.container .h2-top .main-h2:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 150%;
  top: -10%;
  left: 50%;
  transform: rotate(90deg);
  background-color: #E5ACF2;
}
.container #area__sub {
  width: 100%;
  height: 100%;
  padding-top: 250px;
  display: flex;
  justify-content: center;
}
.container #area__sub .sub-content {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity, transform;
}
@media screen and (max-width : 1024px) {
  .container #area__sub .sub-content {
    width: 95%;
  }
}
@media screen and (max-width : 480px) {
  .container #area__sub .sub-content {
    width: 100%;
  }
}
@media screen and (max-width : 480px) {
  .container #area__sub .sub-content .percent {
    display: none;
  }
}
.container #area__sub .sub-content:before, .container #area__sub .sub-content:after {
  content: "";
  width: 5%;
  height: 10%;
  position: absolute;
  display: inline-block;
}
@media screen and (max-width : 1024px) {
  .container #area__sub .sub-content:before, .container #area__sub .sub-content:after {
    width: 10%;
  }
}
@media screen and (max-width : 480px) {
  .container #area__sub .sub-content:before, .container #area__sub .sub-content:after {
    display: none;
  }
}
.container #area__sub .sub-content:before {
  border-left: solid 3px #E5ACF2;
  border-top: solid 3px #E5ACF2;
  top: -5%;
  left: 0;
}
.container #area__sub .sub-content:after {
  border-right: solid 3px #E5ACF2;
  border-bottom: solid 3px #E5ACF2;
  right: 0;
  bottom: -5%;
}
.container #area__sub .sub-content .skill-banner {
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #D9C0B3;
  margin-top: 2%;
  border: 2px solid #E5ACF2;
}
@media screen and (max-width : 1024px) {
  .container #area__sub .sub-content .skill-banner {
    width: 90%;
  }
}
@media screen and (max-width : 480px) {
  .container #area__sub .sub-content .skill-banner {
    width: 100%;
  }
}
.container #area__sub .sub-content .skill-banner .skill-logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BBE5ED;
  border-right: 1px solid #E5ACF2;
}
.container #area__sub .sub-content .skill-banner .HtmlAndCss img {
  width: 20%;
  height: 40%;
}
.container #area__sub .sub-content .skill-banner .word img {
  width: 30%;
  height: 30%;
}
.container #area__sub .sub-content .skill-banner .jquery img {
  width: 20%;
  height: 20%;
}
.container #area__sub .sub-content .skill-banner .js img {
  width: 20%;
  height: 40%;
}
.container #area__sub .sub-content .skill-banner .php img {
  width: 20%;
  height: 40%;
}
.container #area__sub .sub-content .skill-banner .skill-html:after {
  width: 80%;
}
.container #area__sub .sub-content .skill-banner .skill-js:after {
  width: 20%;
}
.container #area__sub .sub-content .skill-banner .skill-jquery:after {
  width: 60%;
}
.container #area__sub .sub-content .skill-banner .skill-php:after {
  width: 10%;
}
.container #area__sub .sub-content .skill-banner .skill-word:after {
  width: 10%;
}
.container #area__sub .sub-content .skill-banner .skill-write {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9C0B3;
  padding-bottom: 1%;
  position: relative;
  z-index: 8;
  /* 星5 */
  /* 星4.5 */
  /* 星4 */
  /* 星3.5 */
  /* 星3 */
  /* 星2.5 */
  /* 星2 */
  /* 星1.5 */
  /* 星1 */
  /* 星0.5 */
  /* 星0 */
}
.container #area__sub .sub-content .skill-banner .skill-write:after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: 8;
  top: 0%;
  left: 0%;
  height: 100%;
  background: #C4BBED;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0.05, 1); /*X方向0、Y方向1*/
  transform-origin: left top; /*左上基点*/
}
.container #area__sub .sub-content .skill-banner .skill-write:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
.container #area__sub .sub-content .skill-banner .skill-write p {
  position: relative;
  z-index: 10;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating {
  position: relative;
  z-index: 10;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  font-size: 150%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating:before, .container #area__sub .sub-content .skill-banner .skill-write .star5_rating:after {
  content: "★★★★★";
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating:after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="5"]:after {
  width: 100%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="4.5"]:after {
  width: 90%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="4"]:after {
  width: 80%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="3.5"]:after {
  width: 70%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="3"]:after {
  width: 60%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="2.5"]:after {
  width: 50%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="2"]:after {
  width: 40%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="1.5"]:after {
  width: 30%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="1"]:after {
  width: 20%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="0.5"]:after {
  width: 10%;
}
.container #area__sub .sub-content .skill-banner .skill-write .star5_rating[data-rate="0"]:after {
  width: 0%;
}
.container #area__sub .sub-content .skill-banner .skill-write .percent {
  font-size: 200%;
}
.container #area__sub .sub-content .skill-banner .skill-write .postion {
  text-align: center;
}
.container #area__sub .sub-content .HtmlAndCss {
  flex-direction: column;
}
.container #area__sub .is-scrollIn {
  opacity: 1;
  transform: translate(0, -150px);
}
.container #area__work {
  width: 100%;
  background: rgba(24, 24, 24, 0.8);
  padding: 5%;
}
.container #area__work .main-box {
  width: 100%;
  height: 80vh;
}
@media screen and (max-width : 1024px) {
  .container #area__work .main-box {
    height: 60vh;
  }
}
.container #area__work .main-box .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .img {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width : 1024px) {
  .container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .img {
    height: 40%;
  }
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .img_01 {
  background-image: url("./../images/portfolip_scs.webp");
  background-size: cover;
  background-position: center;
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .img_01 a {
  width: 100%;
  height: 100%;
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .write {
  margin-top: 10%;
  height: 30%;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width : 1024px) {
  .container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .write {
    height: 60%;
  }
}
.container #area__work .main-box .swiper-wrapper .swiper-slide .imgANDphoto .write p {
  color: #ebebeb;
}

.header-menu {
  position: fixed;
  z-index: 99;
  right: 3%;
  bottom: 5%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid #E5ACF2;
}
.header-menu .header-guide {
  position: absolute;
  left: 22%;
  top: 100%;
}
.header-menu .header-guide p {
  color: #1bd9ff;
  font-weight: bold;
}
.header-menu #menu-btn-check {
  display: none;
}
.header-menu #menu-btn-check:checked ~ .cross {
  -webkit-animation: color 1s ease forwards;
          animation: color 1s ease forwards;
}
@-webkit-keyframes color {
  100% {
    background: #545454;
  }
}
@keyframes color {
  100% {
    background: #545454;
  }
}
.header-menu #menu-btn-check:checked ~ .cross .width-left {
  top: -13px;
  left: 9px;
  transform: rotate(45deg);
}
.header-menu #menu-btn-check:checked ~ .cross .width-right {
  top: 15px;
  left: -10px;
  transform: rotate(225deg);
}
.header-menu #menu-btn-check:checked ~ .cross:before {
  left: 56px;
  top: 23px;
  transform: rotate(45deg);
}
.header-menu #menu-btn-check:checked ~ .cross:after {
  left: 29px;
  top: 48px;
  transform: rotate(225deg);
}
.header-menu .cross {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50px;
}
.header-menu .cross:hover {
  -webkit-animation: shake 0.4s ease;
          animation: shake 0.4s ease;
}
.header-menu .cross .width {
  position: relative;
  width: 25px;
  height: 8px;
  background: #1bd9ff;
}
.header-menu .cross:before {
  content: "";
  position: absolute;
  top: 12px; /* 横棒のy位置 */
  left: 42px; /* 横棒のX位置 */
  width: 8px; /* 横棒の長さ */
  height: 25px; /* 横棒の幅 */
  background: #d777ec; /* 横棒の色 */
}
.header-menu .cross:after {
  content: "";
  position: absolute;
  top: 60px; /* 横棒のy位置 */
  left: 42px; /* 横棒のX位置 */
  width: 8px; /* 横棒の長さ */
  height: 25px; /* 横棒の幅 */
  background: #d777ec; /* 横棒の色 */
}
.header-menu .menu-content {
  position: fixed;
  width: 130px;
  height: 150px;
  top: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.header-menu .menu-content ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.header-menu .menu-content ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 80%;
  height: 100%;
}
.header-menu .menu-content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #1bd9ff;
  text-decoration: none;
  font-weight: bold;
}
.header-menu .menu-content ul li a:hover {
  -webkit-animation: shake 0.4s ease;
          animation: shake 0.4s ease;
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(0);
  }
  16% {
    transform: rotate(12deg);
  }
  32% {
    transform: rotate(-10deg);
  }
  48% {
    transform: rotate(8deg);
  }
  64% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(4deg);
  }
  96% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  16% {
    transform: rotate(12deg);
  }
  32% {
    transform: rotate(-10deg);
  }
  48% {
    transform: rotate(8deg);
  }
  64% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(4deg);
  }
  96% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header-menu #menu-btn-check:checked ~ .menu-content {
  display: flex;
  -webkit-animation-name: move-menu;
          animation-name: move-menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes move-menu {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(-200%);
  }
}
@keyframes move-menu {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(-200%);
  }
}

.bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("./../images/swiper-bg.webp");
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */