@charset "utf-8";

.header{
    width:100vw;
    height:12.5vh;
    display:flex;
    align-items: center;
    justify-content:space-around;
    background:#0c0fcf;
    position: fixed;
    z-index: 100;

    .header__inner{
        display: flex;
        align-items: center;
        height: 100%;
        width:80%;
        
        .logo{
            display: flex;
            align-items: center;
            width:30%;
            height:100%;
            margin-right: 10%;
        }

        .index{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:60%;
            height:100%;
            list-style: none;
            padding-left: 0;

            li{
                width:25%;
                font-size: 150%;
            }
        }
    }

}